---
layout: default
title: Blog Page 
seo:
  title: Travelblog
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------------ Image Banner  ------------------------>
<section class="grid bg-image bg-overlay center padded tall-50" 
style="background-image: url('/images/ines-alvarez-fdez-_HHjiseEuGw-unsplash\(1\).jpg'); background-position: 0 35%;">

    <div class="col-12-middle">
        <h2> Have a look at our Travelblogs </h2>
        <p class="emphasis"> all about our travels </p>
    </div>

</section>

<!------------------------ Split blog loop (part 1) ------------------------>
<section class="padded">

    <div class="capped-width-narrow grid-center">

    <div class="col-9 padded-05 center margin-b-1">
        <h2> Our Latest Posts </h2>
    </div>

        {% for post in site.posts limit:3 %}

            {% include post-loop-item-portrait.html %}

        {% endfor %}

    </div>

</section>


<!------------------------ CTA Banner  ------------------------>
<section class="bg-featured text-light padded center capped-width"> 

    <div class="capped-width-narrow">
        <h2> A catchy heading </h2>
        <p> This is a call-to-action to drive traffic somewhere important </p>
        <a href="#" class="button"> Let's do this </a>
    </div>

</section> 


<!------------------------ Split blog loop (part 2) ------------------------>
<section class="padded">

    <div class="capped-width-narrow grid-center">

        {% for post in site.posts limit:6 offset:3 %}

                {% include post-loop-item-square.html %}

        {% endfor %}
    </div>


    <!-- This checks if there are more than 15 blog posts, and if there are shows a link to the full blog archive -->

    {% assign post_count = site.posts | size %}
    
    {% if post_count > 8 %}
        <div class="center padded-t">
            <a class="button" href="/blog-archive"> See More </a>
        </div>
       
    {% endif %}

</section>

