---
layout: default
title: Blog Archive
seo:
  title: Blog Archive
  description: Im Blogarchiv findest du alle unsere Blogposts mit wertvollen Reisetipps und Ideen zur Planung. Stöbere durch unsere Abenteuer!
  social_image:
  keywords: 'Blogarchiv, Blogposts, Blogpost Sammlung'
  hide-from-google: false
---

<!------------------------ Split blog loop (part 1) ------------------------>
<section class="padded">

    <div class="capped-width-narrow padded-05 center margin-b-1">
        <h2> Blog Archiv </h2>
        <p>Hier findest du alle unsere Blogeinträge gesammelt.</p>
    </div>

    <div class="capped-width-v-narrow grid sm-margin-b">

        {% for post in site.posts limit:100 %}

        <div class="col-12 post-item padded-1 sm-padded-b ">
            <div class="grid">
                <div class="col-3-middle_sm-12">
                    <a class="bg-image square sm-landscape" style="background-image:url( '{{ post.featured_image }}' );"  href="{{ post.url }}"></a>
    
                </div>
                <div class="col-9-middle_sm-12 padded sm-padded-0">

                    {% for item in post.categories %}
                        <span class="tag"> {{item}} </span>
                    {% endfor %}
            
                    <h4 class="margin-t-05 margin-b-05 sm-margin-0 sm-margin-b-05"> {{ post.title }} </h4>
                    <p class="subtitle sm-hide"> {{ post.description }} </p>
                    <a href="{{ post.url }}" class="subtle-button"> weiterlesen </a>
            
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

</section>