---
layout: default
title: Reiseblog
seo:
  title: Reiseblog
  description: 'Im Reiseblog sind all unsere Ideen und Tipps zum Reisen zu finden. Entdecke inspirierende Beiträge und praktische Ratschläge für deine nächste Abenteuerreise!''
  social_image:
  keywords: 'Reiseblog, Reiseberichte, Reisetipps, Ideen für die nächste Reise'
  hide-from-google: false
---
<!------------------------ Intro Banner  ------------------------>
<section class="grid bg-medium center padded vh40">
    <div class="col-12-middle">
        <h2> Unser Reiseblog </h2>
        <p> All unsere Erlebnisse und Tipps praktisch zusammengefasst. </p>
    </div>
</section>

<!------------------------ Split blog loop (part 1) ------------------------>
<section class="padded">

    <div class="capped-width-narrow grid-center">

    <div class="col-9 padded-05 center margin-b-1">
        <h3>Aktuelle Posts </h3>
    </div>

        {% for post in site.posts limit:3 %}

            {% include post-loop-item-portrait.html %}

        {% endfor %}

    </div>

</section>


 <!------------------------ Social links Banner  ------------------------>
 {% include social-media-banner.html %}


<!------------------------ Split blog loop (part 2) ------------------------>
<section class="padded">

    <div class="capped-width-narrow grid-center">

        {% for post in site.posts limit:6 offset:3 %}

                {% include post-loop-item-portrait.html %}

        {% endfor %}
    </div>


    <!-- This checks if there are more than 15 blog posts, and if there are shows a link to the full blog archive -->

    {% assign post_count = site.posts | size %}
    
    {% if post_count > 8 %}
        <div class="center padded-t md-padded-b">
            <a class="button" href="/blog-archive"> Mehr anzeigen </a>
        </div>
       
    {% endif %}

</section>


