---
layout: default
title: Traveldiary
seo:
  title: Traveldiary
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<section class="grid bg-medium center padded vh50">
<!-- style="background-image: url('/images/ines-alvarez-fdez-_HHjiseEuGw-unsplash\(1\).jpg'); background-position: 0 35%;"> -->

    <div class="col-12-middle">
        <h2> Unsere Reisegeschichten </h2>
        <p> All unsere Abenteuer und Erlebnisse.  </p>
    </div>

</section>

<!------------------------ Traveldiary blog loop ------------------------>
<section class="padded archive">

    <div class="capped-width-narrow padded-05 center margin-b-1">
        <h2> Unser Reisetagebuch </h2>
        <p> In unserem Reisetagebuch haten wir alle unsere Erlebnisse fest um euch ein paar Einblicke zu ermöglichen. </p>
    </div>

    <div class="capped-width grid">

        {% assign travel-diaries = site.diaries | where_exp:"diary", "true" | reverse  %}
        {% for diary in travel-diaries limit:100 %}

        <a class="col-6_md-12 post-item padded-2 sm-padded-1" href="{{ diary.url }}">
            <div class="grid">
                <div class="col-3-middle">
                    <div class="bg-image square" style="background-image:url( '{{ diary.featured_image }}' );"></div>
    
                </div>
                <div class="col-9-middle padded-1">

                    {% for item in diary.categories %}
                        <span class="tag"> {{item}} </span>
                    {% endfor %}
            
                    <h4 class="margin-t-05 margin-b-05 subtle-heading-xs"> {{ diary.title }} </h4>
                    <p class="subtitle xs-hide"> {{ diary.description }} </p>
            
                </div>
            </div>
        </a>

        {% endfor %}

    </div>

</section>