---
layout: default
title: Home
seo:
  title: Home
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------------ Image Banner  ------------------------>
<section class="grid bg-medium center padded vh60">
<!-- style="background-image: url('/images/ines-alvarez-fdez-_HHjiseEuGw-unsplash\(1\).jpg'); background-position: 0 35%;"> -->

    <div class="col-12-middle">
        <h2> Willkommen auf deinem neuen Lieblingsblog! </h2>
        <p class="sm-hide"> Hier findest du unsere wichtigsten Erfahrungen oder einfach ein paar Reisegeschichten. </p>
        <!-- Find your travelguid or just listen to our storries. -->
    </div> 
</section>

<!-- Hallo Banner -->
<section class="bg-light text-dark grid vh60">

    <div class="col-6-middle_sm-12 padded">
        <h2 class="sm-padded-t"> Schön, dass du da bist! </h2>
        <p> Wir sind Jenny & Pati. In den letzten drei Jahren waren wir Teilzeit in unserem Van Marshall in Europa unterwegs. Jetzt haben wir unsere Jobs an den Nagel gehängt und wollen Vollzeit die Welt erkunden. Auf unserem Blog berichten wir von unseren Erlebnissen und Abenteuern. </p>
        <div class="padded-t sm-center sm-padded-1">
            <a href="/about.html" class="button">Mehr über uns</a>
        </div> 
    </div>
    <div class="col-6-middle sm-hide">
        <div class="bg-image landscape"> 
        <!-- style="background-image: url('/images/caleb-ekeroth-wSBQFWF77lI-unsplash\(1\).jpg');"> -->
        </div>
    </div>
</section>

<!------------------------ Latest Blog loop ------------------------>
<section class="padded">
    <div class="capped-width-narrow grid-center">

        <div class="col-12 padded-05 center margin-b-1">
            <h2> Unsere neuesten Travelguides. </h2>
            <p> Wir haben unsere wichtigsten Erfahrungen und tollsten Erlebnisse für dich zusammengefasst.</p>
            <!-- now that we have been traveling for quite a while, we want to share our tips and tricks -->
        </div>

        <div class="col-12 sm-hide grid-center">
            {% for post in site.posts limit:3 %}

                {% include post-loop-item-portrait.html %} 

            {% endfor %}  
        </div>

        <!-- div for small devices -->
        <div class="col-12-middle sm-show-flex grid-spaceAround">
            {% for post in site.posts limit:3 %}
            <div class="col-4-middle post-item padded-05">
                <div class="bg-image square" style="background-image:url( '{{ post.featured_image }}' );"></div>
            </div>
            <div class="col-6 margin-t-1 padded-t-1 sm-margin-0 sm-padded-0">
                    
                {% for item in post.categories %}
                    <span class="tag sm-hide"> {{item}} </span>
                {% endfor %}

                <h2 class="margin-t-1"> {{ post.title }} </h2>
                <a href="{{ post.url }}" class="subtle-button"> weiterlesen </a>

            </div>
            {% endfor %}
        </div>


        <div class="col-12 center padded-t sm-padded-b">
            <a href="/blog" class="button"> Mehr anzeigen</a>
        </div>
    </div>
</section>

<!------------------------ Banner  ------------------------>
<section class="bg-featured padded grid vh50">

    <div class="col-12-middle center text-light">
        <h2> Erlebe das nächste Abenteuer gemeinsam mit uns. </h2>
    </div>

</section>

<!------------------------ Latest Traveldiary loop ------------------------>
<section class="padded">
    <div class="capped-width-v-narrow grid-spaceAround-center">
        <div class="col-12 padded-05 center margin-b-1">
            <h2> Unsere Geschichten </h2>
            <p> In unserem Tagebuch erzählen wir laufend unsere Erlebnisse auf Reisen. </p>
        </div>

        {% assign travel-diaries = site.diaries | where_exp:"diary", "true" | reverse %}
        {% for diary in travel-diaries limit:3 %}
            
            <div class="col-4-middle post-item padded-05">
                <div class="bg-image square" style="background-image:url( '{{ diary.featured_image }}' );"></div>
            </div>
            <div class="col-6-middle">
                    
                {% include diary-loop-item-square.html %}

            </div>

        {% endfor %}

    </div>

    <div class="col-12 center padded-t padded-b">
        <a href="/diary-archive.html" class="button"> Mehr anzeigen</a>
    </div>
</section>