---
layout: default
title: Home
seo:
  title: Home
  description: 'Willkommen auf unserer Website - Entdecke spannende Reiseabenteuer und nützliche Tipps!'
  social_image:
  keywords: 'Reiseblog, Homepage Reiseblog, Reiseberichte, Travelguides, Reisetipps'
  hide-from-google: false
---

<!------------------------ Intro Banner  ------------------------>
<section class="grid-spaceAround center bg-image padded vh80 xs-vh70" style="background-image: url('/images/bannerimg.JPG'); background-position: 50% 40%;"">

    <div class="col-8-middle_md-10_xs-12 bg-light center padded homepage-box vh40 sm-padded-lg xs-vh60 grid">
        <div class="col-12-middle padded">
            <h2> Willkommen auf unserem Reiseblog! </h2>
            <p> Ab sofort findest du hier Blogbeiträge zu allem, was mit dem Reisen zu tun hat. Unser Weltreise-Tagebuch findest du, wenn du weiter nach unten scrollst. Viel Spaß beim Stöbern! </p>
        </div>
    </div> 
</section>

<!-- Schön, dass du da bist Banner -->
<section class="text-dark grid">

    <div class="col-7-middle_sm-12 padded md-center">
        <h2 class="sm-padded-t"> Schön, dass du da bist! </h2>
        <p> Wir sind Jenny & Pati. Drei Jahre lang sind wir mit unserem Van <i>Marshall</i> immer wieder durch Europa getourt. Nachdem wir 2023 unsere Jobs an den Nagel gehängt und uns auf Weltreise begeben haben, sind wir seit Anfang 2025 zurück in Europa - wieder im Van und unterwegs.</p>
        <p>Ab jetzt findest du hier nicht nur unsere Abenteuer, sondern auch jede Menge Reisetipps, Inspirationen und praktische Infos für eure eigenen Trips. Egal, ob du selbst losziehen willst oder einfach Fernweh hast – wir nehmen dich mit!</p>
        <div class="padded-t sm-center sm-padded-1">
            <a href="/ueber-uns" class="button">Mehr über uns</a>
        </div> 
    </div>
    <div class="col-5-middle_sm-12">
        <div class="bg-image square sm-landscape" style="background-image: url('/images/wir_bw.JPG'); background-position: 50% 62%;">
        </div>
    </div>
</section>

<!------------------------ Latest Blog loop ------------------------>
<section class="padded bg-light">
    <div class="capped-width-narrow grid-center">

        <div class="col-12 padded-05 center margin-b-1">
            <h2> Unsere neuesten Travelguides </h2>
            <p> Wir haben unsere tollsten Erlebnisse, wichtigsten Learnings, besten Routen und viele nützliche Tipps für dich zusammengefasst.</p>
        </div>

        <div class="col-12 grid-center">
            {% for post in site.posts limit:3 %}

                {% include post-loop-item-portrait.html %} 

            {% endfor %}  
        </div>

        <div class="col-12 center padded-t sm-padded-b">
            <a href="/blog" class="button"> Mehr anzeigen</a>
        </div>
    </div>
</section>

<!------------------------ Newsletter Banner  ------------------------>
{% include newsletter-banner.html %}

<!------------------------ Latest Traveldiary loop ------------------------>
<section class="padded">
    <div class="capped-width-v-narrow grid-spaceAround-center">
        <div class="col-12 padded-05 center margin-b-1">
            <h2> Unsere Geschichten</h2>
            <p> Im Reisetagebuch findest du alle Stories, die wir während unserer Weltreise gesammelt haben.</p>
        </div>

        {% assign travel-diaries = site.diaries | where_exp:"diary", "true" | reverse %}
        {% for diary in travel-diaries limit:3 %}
            
            <div class="col-4-middle_sm-12 post-item padded-05">
                <a class="bg-image square radius sm-landscape sm-margin-0" style="background-image:url( '{{ diary.featured_image }}' )" href="{{ diary.url }}"></a>
            </div>
            <div class="col-6-middle_sm-12 sm-center sm-margin-b">
                    
                {% include index-diary-loop.html %}
                <a href="{{ diary.url }}" class="subtle-button"> weiterlesen </a>
            </div>

        {% endfor %}

    </div>

    <div class="col-12 center padded-t padded-b">
        <a href="/reisetagebuch" class="button"> Mehr anzeigen</a>
    </div>
</section>