---
layout: default
title: Reisetagebuch
seo:
  title: 'Reisetagebuch - Entdecke unsere Erlebnisse auf der ganzen Welt'
  description: 'Verfolge unsere Reiseabenteuer, Insider-Tipps und spannende Geschichten in unserem Reisetagebuch.'
  social_image:
  keywords: 'Reisetagebuch, Reiseabenteuer, Reiseerlebnisse, Insider-Tipps'
  hide-from-google: false
---

<!------------------------ Intro Banner  ------------------------>
<section class="grid bg-medium center padded vh40">
    <div class="col-12-middle">
        <h2> Unser Reisetagebuch </h2>
        <p> In unserem Reisetagebuch sind alle unsere Erlebnisse festgehalten, um euch ein paar Einblicke in unsere Weltreise zu ermöglichen. </p>
    </div>
</section>

<!------------------------ Traveldiary blog loop ------------------------>
<section class="capped-width grid padded">

        {% assign travel-diaries = site.diaries | where_exp:"diary", "true" | reverse  %}
        {% for diary in travel-diaries limit:2 %}

        <a class="col-6_md-12 post-item padded-2 sm-padded-1" href="{{ diary.url }}">
            <div class="grid">
                <div class="col-4-middle">
                    <div class="bg-image square radius" style="background-image:url('{{ diary.featured_image }}');"></div>
                </div>

                <div class="col-8-middle padded-1">
            
                <h4 class="margin-t-1 sm-margin-b-05"> {{ diary.title }} </h4>
                </div>
            </div>
        </a>

        {% endfor %}

</section>

<!------------------------ Newsletter Banner  ------------------------>
{% include newsletter-banner.html %}

<!------------------------ Traveldiary blog loop ------------------------>
<section class="capped-width grid padded">

    {% assign travel-diaries = site.diaries | where_exp:"diary", "true" | reverse  %}
    {% for diary in travel-diaries limit:100 offset:2 %}

    <a class="col-6_md-12 post-item padded-2 sm-padded-1" href="{{ diary.url }}">
        <div class="grid">
            <div class="col-4-middle">
                <div class="bg-image square radius" style="background-image:url('{{ diary.featured_image }}');"></div>
            </div>

            <div class="col-8-middle padded-1">
        
            <h4 class="margin-t-1 sm-margin-b-05"> {{ diary.title }} </h4>
            </div>
        </div>
    </a>

    {% endfor %}

</section>