/* ----------- Color Variables --------- */
/* Looking for the color variables? They have been moved to the inline-styles file in the _includes folder, and pull variables from the site-settings folder in the _data folder.  */

/* ----------- CSS RESET --------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
img { max-width: 100%; height: auto; }

/* Override default gridlex padding */ 
[class*=col] { padding: 0; }
[class*=grid] { margin: 0; }

section { position: relative; }

/* colors */
:root {
  --dark-text: #272727;
  --featured-text: #CD9C7a;
  --light-text: white;
  /* --dark: #AD8E78; */
  --medium: #E8DFD9;
  --light: #F6F3F1;
  --v-light: #F6F3F1;
  --featured: #AA7B5A;
}

/* ---------- Negative Space Utility Classes  ------------------ */ 

.capped-width-wide      { max-width: 1600px; margin: auto; }
.capped-width           { max-width: 1200px; margin: auto; }
.capped-width-narrow    { max-width: 1000px; margin: auto; }
.capped-width-v-narrow  { max-width: 800px;  margin: auto; }
.capped-width-posts     { max-width: 700px;  margin: auto; }

.vh100 { min-height: 100vh; }
.vh90  { min-height: 90vh; }
.vh80  { min-height: 80vh; }
.vh70  { min-height: 70vh; }
.vh60  { min-height: 60vh; }
.vh50  { min-height: 50vh; }
.vh40  { min-height: 40vh; }
.vh30  { min-height: 30vh; }

/* Padding Utility Classes */ 
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }
.padded-lr-lg  {  padding-right: 20%; 
                  padding-left: 20%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-05 { margin-top: 0.5rem; }
.margin-b-05 { margin-bottom: 0.5rem; }
.margin-l-05 { margin-left: 0.5rem; }
.margin-r-05 { margin-right: 0.5rem; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

/* ------------ Backgrounds & Background Images  ----------------------- */

.bg-dark     { background-color: var(--dark);}
.bg-featured { background-color: var(--featured);}
.bg-medium   { background-color: var(--medium); }
.bg-light    { background-color: var(--light); }
.bg-v-light  { background-color: var(--v-light); }

.bg-image {
    background-color: var(--medium); /* Set a fall-back color while images are loading */ 
    /* background-image: url('images/ian-dooley-hpTH5b6mo2s-unsplash\(1\).jpg'); */
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

bg-image-circle{
  border-radius: 1rem, 2rem;
  margin-right: -10rem;
}

.bg-overlay::after {
  z-index: 1;
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
} 

.bg-overlay > * {
  z-index: 2;
  position: relative;
}
/* Add a second class to change the color or style  */

.bg-overlay-gradient::before { 
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0));
} 

.bg-overlay-featured::after { 
  background-color: var(--featured);
  opacity: 0.5;
} 

/* Aspect Ratios with percentage unit are only effective if the element (the <div>) is inside a parent container or column, it can't be applied to the column itself. */

a.bg-image { display: block;}

.landscape     { padding-bottom: 66%; }
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { padding-bottom: 100%; }


/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }

/* Image Containers for Markdown files */
.img1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.img2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.img2-nr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.img3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.img3-nr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.img4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.img4-nr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

/* ------------ Typography Styles ----------------------- */

.left    { text-align: left; }
.right   { text-align: right; }
.center  { text-align: center; }
.uppercase    { text-transform: uppercase; }

body {
  font-family: 'Mulish', serif;  /* Add your font here */ 
  color: var(--dark-text);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

h1 { font-size: 2.6rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

p, li, a {
  line-height: 1.6; 
  margin-bottom: 1rem;
  font-weight: 200;
  font-size: 1.1rem;
}

h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child,
h6:last-child, 
p:last-child {
	margin-bottom: 0;
}

figcaption {
  font-size: 1.1rem;
  font-weight: 200;
  opacity: 0.6;
  text-align: center;
  margin-top: 0.4rem;
}

/* Unique Typography Styles  */
.emphasis       { font-size: 1.2rem; }
.text-featured  { color: var(--featured-text);}
.text-light     { color: var(--light-text);}
.subtle         { opacity: 0.8;     }
.subtitle       { font-size: 0.8rem; }


/* ------------ Buttons & Links ------------ */
a {
    color: inherit;
    font-weight: 300;
}

a:hover {
  color: var(--featured-text); 
}

p a {
    text-decoration: none;
    border-bottom: 1px solid;
    font-weight: 200;
}

p a:hover { 
  color: var(--featured-text); 
}

.button { 
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    padding: 0.5rem 1.5rem;
    border: 1.4px solid;
}

.button:hover {
    color: var(--featured-text);
}

.subtle-button {
  text-decoration: none;
  border-bottom: 1px solid;
}

/* suggested additional styles 
- .button-inverted, .button-subtle, .button-lg  */


/* ------------ Header -------------- */
header {
    padding: 1rem 1rem 1rem 1rem;
}

nav a {
    padding: 0.25rem 0.5rem;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
}
nav a:hover {
  color: var(--featured-text);
}

.logo-img{
  height: 50px;
}

.logo {
  text-decoration: none;
  font-size: 2rem;
} 

/* footer styles */

.logo-img-footer{
  height: 200px;
}

.social-icons{
  padding: 0.25rem 0.1rem;
}

.heading{
  text-decoration: none;
  border-bottom: 1px solid;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem;
}

/* translation navigator style */
span.dropdown-t-title {
  border-bottom: 1px solid var(--dark-text);
  padding: 0;
  margin: 0.25rem 0.5rem;
  font-weight: 300;
}


/* Dropdown styles */

.dropdown { 
  position: relative; 
  display: inline-block;
}
.dropdown-title {
  padding: 0.25rem 0.5rem;
  display: inline-block;
}
.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0rem;
  padding: 0.5rem;
  display:none; 
  background-color: var(--light);
  z-index: 2;
  text-align: left;
  min-width: 10rem;
}
.dropdown:hover .dropdown-content{ 
  display: block;
}
.dropdown-content a {
  display: block;
  padding: 0.2rem;
}

/* Dropdown styles for translation button */

.dropdown-t { 
  position: relative; 
  display: inline-block;
}
.dropdown-t-title {
  padding: 0.25rem 0.5rem;
  display: inline-block;
}
.dropdown-t-content {
  position: absolute;
  top: 100%;
  right: 0rem;
  padding: 0.5rem;
  display:none; 
  background-color: var(--light);
  z-index: 2;
  text-align: left;
  min-width: 5rem;
}
.dropdown-t:hover .dropdown-t-content{ 
  display: block;
}
.dropdown-t-content a {
  display: block;
  padding: 0.2rem;
}

/* ------------ Hamburger Menu -------------- */

.hamburger-button {
    cursor: pointer;
    padding: 0.5rem 2rem;
    display: inline-block;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 0.8;
    /* position: fixed;
    right: 5%;
    top: 1rem; */
    z-index: 4;
    margin-right: -1rem;
  }
  
  /* Styles when the hamburger button is active  */
  .hamburger-button.active {
    color: var(--featured);
  }
  
  .mobile-menu {
    display: none; 
    background-color: var(--medium);
    padding: 5% 5%;
    position: fixed; 
    z-index:3;
    top: 5rem;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .mobile-menu a {
    text-decoration: none; 
    color: inherit; 
    padding: 2%;
    display: block;
    font-weight: normal;
    text-transform: uppercase;
    /* border-bottom: 1px solid var(--dark-text); */
  }

  .mobile-language{
    background-color: var(--featured);
    padding: 0.8rem;
    position: fixed; 
    z-index:4;
    top: 5rem;
    /* bottom: 0;
    left: 0; */
    right: 0;
    text-align: center;
  }

/* ------------ Contact Forms  ----------------------- */
form input,
form textarea {
 	width: 100%;
 	margin: 0.5rem 0;
	padding: 0.5rem;
 	border: 2px solid var(--medium);
 	outline: none;
 	font-family: inherit;
 	font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
 	border-color: var(--featured);
}

textarea {
 	min-height: 4rem;
}

form label {
	margin-top: 1rem;
 	display: block;
 	color: var(--featured);
 	font-weight: bold;
}

form button {
   	border: 2px solid var(--medium);
   	background: none;
   	color: var(--featured);
   	font-weight: bold;
   	padding: 0.5rem 2rem;
   	margin-top: 1rem;
    cursor: pointer;
}

form button:hover {
  border: 2px solid var(--featured);
}

/* ------------ Cookie banner Styles  ----------------------- */

#cookie-notice {
  padding: 0.5rem 1rem;
  display: none;
  text-align: center;
  position: fixed;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  width: calc(100% - 2rem);
  background: #222;
  color: rgba(255, 255, 255, 0.8);
  min-height: 20%;
}
#cookie-notice a {
  display: inline-block;
  cursor: pointer;
  margin-left: 0.5rem;
}
#cookie-notice .button-subtle {
  opacity: 0.8;
}
#close-cookie-banner {
  /*   padding: 1rem;
  cursor: pointer;
  font-size: 0.8rem;
  opacity: 0.5 */
}

.reshow-button {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.hide-button.reshow-button {
  display:block;
  position: absolute;
  right: 1rem;
}


/* ------------ Blogging elements  ----------------------- */

/* Post Loop Item  */

.post-item {
  text-decoration: none;
}

/* Individual Elements */
.tag {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.5;
  font-size: 0.8rem;
  margin-right: 0.4rem;
  margin-bottom: 0.6rem;
}

.post-info {
  font-size: 0.8rem;
  color: var(--dark-text);
}

/* Individual Blog Post Pages  */

.blog-content h1 {
  font-weight: 200;
  font-size: 2.8rem;
}

/* nicht verändern */
.blog-content h2 {
  font-size: 2rem;
  margin-top: 1.8rem;
}

/* nicht verändern */
.blog-content h3 {
  font-size: 1.6rem;
}

.blog-content h4 {
  font-size: 1.4rem;
  margin-left: 1rem;
}

/* für listen */
.blog-content h5 {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.blog-content h6 {
  font-size: 1.1rem;
}

.blog-content p {
  line-height: 1.6;
}

.blog-content hr {
  border: none;
  border: 1px solid var(--medium);
}

.blog-content li{
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    margin-right: 5rem;
}

/* Sidebar */
.sidebar-item {
  border: 2px solid var(--light);
  margin-bottom: 1rem;
  color: var(--dark-text);
}
.sidebar-item p {
  font-family: 'Mulish', serif; 
  font-weight: 300;
}

.sidebar-item h4 {line-height: 1.3;}

.recent-posts-nav a{
  display: block;
  font-weight: 300;
}

/* Sidebar stick */

.relative{
  position: relative;
  /* display: flex; */
}

.SideBarParent {
  height: 100%;
} 

.sticky {
  /* position: -webkit-sticky; for browser compatibility */
  position: sticky;
  top: 5%;
}

/* Social Sharing */
.social-share a {
  padding: 0.25rem 0.5rem;
}

.social-share .fa-brands {
  font-size: 1.9rem;
  margin-left: 0.2rem;
}

.social{
  font-size: 2rem;
  margin: 0 1rem;
}

.fa-brands {
  font-size: 2.3rem;
  margin-left: 0.8rem;
}


/* Miscelaneous elements  */
hr.short {
  border: 1px solid var(--dark-text);
  width: 2rem;
  margin: 1rem 0;
}

hr.short.center {
  margin:auto;
  margin: 1rem auto;
}

blockquote {
  padding: 1.5rem;
  background-color: var(--medium);
  border: 1px solid var(--medium);
  border-radius: 10px;
  margin-bottom: 2.4rem;
  margin-top: 2rem;
}

blockquote h4 { margin-bottom: 2rem; margin-top: 0.8rem;}
blockquote h5 {padding-left: 3%; padding-bottom: 1%; padding-right: 3%;}
blockquote p {padding-left: 3%; padding-right: 3%;}



/* ------------ Page Name  ----------------------- */









/* ------------ Responsive Styles ----------------------- */

/* General CSS Responsive Styles (Apply everywhere unless overriden) */ 

.xs-show, 
.sm-show,
.sm-show-flex,
.md-show {
	display: none; 
}

.inline { 
  display: inline-block;
  vertical-align: top;
}


/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media(max-width:64em) {

	.md-show { display: block; }
	.md-hide { display: none;  }

  .md-padded{ padding: 5%; } 

  .md-padded-b{padding-bottom: 2rem;}
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 


@media(max-width:48em) {

.logo { font-size: 2rem;}

	.sm-show { display: block; }
	.sm-hide { display: none;  }
  .sm-show-flex { display: flex; }

  .sm-center { text-align: center; }
  .sm-left   { text-align: left; }
  .sm-right  { text-align: right; }

  .sm-padded     { padding: 5%; } 
  .sm-padded-l    { padding: 10%; }
  .sm-padded-1   { padding: 1rem; }
  .sm-padded-05  { padding: 0.5rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-padded-lr-0 { padding-left: 0; padding-right: 0; }
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }
  .sm-margin-b-05 {margin-bottom: 0.5rem;}
  .sm-margin-0 { margin: 0; }

  .sm-padded-0 { padding: 0; }
  .sm-padded-t { padding-top: 5%; }
  .sm-padded-b { padding-bottom: 5%; }

  .sm-landscape     { padding-bottom: 66% ; }
  .sm-portrait-tall { padding-bottom: 175%; }
  .sm-portrait      { padding-bottom: 125%; }
  .sm-square        { padding-bottom: 100%; }

  /* image containers von markdown files */
  .img3 {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .img4 {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  /* list item in blogposts */
  .blog-content li{
    margin-right: 3rem;
}

}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media(max-width:36em) {

		.xs-show { display: block; }
		.xs-hide { display: none;  }

    .subtle-heading-xs {
      font-weight: 300;
      font-family: 'Martel', serif; 
    }

    /* image container von markdown files */
    .img2,
    .img4 {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }

}