<section class="bg-light padded related-posts">

    <h3 class="center"> Weitere Reisegeschichten </h3>
    
    <div class="grid-center">

      {% assign more-diaries = site.diaries | where_exp:"diary","diary.url != page.url and diary.hidden != true" | reverse %}
      {% for diary in more-diaries limit:3 %}

    
        <a href="{{diary.url}}" class="col-4_xs-12 padded-2 post-item">
          <div class="bg-image square radius margin-b-05" style="background-image: url({{diary.featured_image}})"> </div>
          
              <span class="post-info">von {{diary.author}} // </span> 
              <span class="post-info"> {{diary.date | date: "%m.%d.%Y" }} </span>
          
              <h4 class="margin-t-05"> {{diary.title}} </h4>
        </a>
          
      {% endfor %}
    </div>
    
</section>