<section class="bg-light padded related-posts previous-section">

    <h3 class="center"> Entdecke mehr aus dieser Kategorie</h3>
    
    <div class="grid-center">
    
    
    {% capture pageCategory %}{{ page.categories[0] }}{% endcapture %}

    {% assign relevant-posts = site.categories[pageCategory] | where_exp:"post","post.url != page.url and post.hidden != true" %}

      {% for post in relevant-posts limit:3 %}

    
        <a href="{{post.url}}" class="col-4_xs-12 padded-2 post-item">
          <div class="bg-image square radius margin-b-05" style="background-image: url({{post.featured_image}})"> </div>
          
              <span class="post-info">von {{post.author}} // </span> 
              <span class="post-info"> {{post.date | date: "%m.%d.%Y" }} </span>
          
              <h4 class="margin-t-05"> {{post.title}} </h4>
        </a>
          
      {% endfor %}
    </div>
    
</section>