
<header class="grid-middle-spaceBetween text-dark">
    <div class="col-6_sm-3">
      <div class="md-hide">
        <img src="/images/Screenshot 2024-04-30 102739(1).png" alt="logo" class="logo-img">
      </div>
      <div>
        <a href="/" class="logo padded-05"> onememorypermile </a>
      </div>
    </div> 
    <nav class="col-6_sm-9 sm-hide right">

      <div class="dropdown">
        <a href="/blog" class="dropdown-title"> Blog </a>
        <div class="dropdown-content">
          {% for cat in site.archives %}
          <a href="{{cat.url}}"> {{cat.category}} </a>
          {% endfor %}
          <!-- <a href="/bali"> Bali </a>
          <a href="/self-care"> Self Care </a>
          <a href="/travel"> Travel </a> -->

        </div> 
      </div>
      <a href="/diary-archive.html"> Reisetagebuch </a>
      <a href="/about.html"> Über uns </a>
      <a href="/contact.html"> Kontakt </a>
      
    </nav> 
    <div class="col-7 right sm-show">
      <a class="hamburger-button"> &#9776; </a>
    </div>
  </header>
  
  <div class="mobile-menu"> 
    <nav> 
      <a href="/blog"> Blog </a>
      <a href="/diary-archive.html"> Reisetagebuch </a>
      <a href="/about.html"> Über uns </a>
      <a href="/contact.html"> Kontakt </a>
    </nav>
  </div> 



<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
  {% endfor %}
--> 