<footer class="grid padded padded-b-1 bg-medium">
    <div class="col-7_sm-12 sm-center">
      <h3> Verpasse keine Updates! </h3>
  

      <div class="left">
        <p>Melde dich für unseren Newsletter an!</p>
        <!-- newsletter signup -->
        {% include newsletter-form.html %}
      </div>
       
      <p> Wir hoffen, du hast gefunden, was du gesucht hast. Danke für deinen Besuch!</p>
  </div> 


  <div class="col-5_sm-12 right sm-center grid">
      <div class="col-12 padded-b sm-padded-0">
        <div class="logo-img-footer sm-float-center" id="logo"></div>
      </div>
      <div class="col-12 padded">
        <h3> Onememorypermile.</h3>
        <nav> 
          <a href="https://www.instagram.com/onememorypermile/" target=”_blank” class="social-icons"> <i class="social fab fa-instagram"></i> </a>
          <a href="https://www.facebook.com/profile.php?id=61557339363740" target=”_blank” class="social-icons"> <i class="social fab fa-facebook-f"></i> </a>
          <a href="https://www.pinterest.com/onememorypermile/" target=”_blank” class="social-icons"> <i class="social fab fa-pinterest-p"></i> </a>
      </nav>
      </div>
      
  </div>

  <div class="col-12 grid">
    <div class="col-6_xs-12 left subtle xs-center">
      <p>
        <a href="/datenschutz.html" class="subtle subtitle"> Datenschutz</a> | <a href="/impressum.html" class="subtle subtitle"> Impressum </a>
      </p>
    </div>
    <div class="col-6_xs-12-middle right xs-center">
      <a class="copyright" href="https://onememorydesign.com" target="_blank">© 2025 OnememoryDesign.</a>
    </div>
  </div>
</footer>

  