
<header class="grid-middle text-dark">

  <!-------------- header LOGO-Picture and LOGO  -------------->
  <div class="col-6_md-10 grid">
    <!-- <div class="xs-hide inline">
      <img src="/images/favicon.png" alt="logo" class="logo-img">
    </div> -->
    <div class="col-middle inline">
      <a href="/" class="logo padded-05">onememorypermile</a>
    </div>
  </div> 

  <!--------------- navigation bar ---------------------------->
  <nav class="col-6 md-hide right">
    <a href="/"> Home </a>
    
    <!-- dropdown menu blog-categories -->
    <div class="dropdown">
      <a href="/blog" class="dropdown-title"> Blog </a>
      <div class="dropdown-content">
        {% for cat in site.archives %}
        <a href="{{cat.url}}"> {{cat.category}} </a>
        {% endfor %}
      </div> 
    </div>

    <!-- navigation links -->
    <a href="/diary-archive.html"> Reisetagebuch </a>
    <a href="/about.html"> Über uns </a>
    <a href="/contact.html"> Kontakt </a>
  
  </nav> 

  <!-- hamburger menu button -->
  <div class="col-2 right md-show">
    <a class="hamburger-button"> &#9776; </a>
  </div>
</header>
  
  <div class="mobile-menu"> 
  
    <nav> 
      <a href="/"> Home </a>
      <a href="/blog"> Blog </a>
      <a href="/diary-archive.html"> Reisetagebuch </a>
      <a href="/about.html"> Über uns </a>
      <a href="/contact.html"> Kontakt </a>
    </nav>
  </div> 



<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
  {% endfor %}
--> 

