<footer class="grid padded padded-t-0 padded-b-1 bg-medium footer">

      <!-- svg curve border -->
      <div class="curve-container">
          <svg class="bottom-curve" viewBox="0 0 3002 268" preserveAspectRatio="none">
              <path class="curve-path" d="M3001,115.5c-0.2,0-0.3,0.1-0.5,0.1c-63.1,17.3-124.8,40.8-187,61.5c-529,171-1031,45-1139,18l-430-106 c-90-22-180-45-271-60C653.8-26.3,308.7,3.5,3,112.7l-2,0.7l-1,0.4V268h1v0.1h2l2997.5-0.1h0.5h1V115.2L3001,115.5z"></path>
          </svg>
      </div>

    <div class="col-7_md-12 padded-t-lg md-center">
      <h3> Verpasse keine Updates! </h3>
  
      <div class="left md-center">
        <p>Melde dich für unseren Newsletter an.</p>
        <!-- newsletter signup -->
        {% include newsletter-form.html %}
      </div>
       
      <p> Wir hoffen, du hast gefunden, wonach du gesucht hast. Danke für deinen Besuch!</p>
  </div> 


  <div class="col-5_md-12 right md-center grid">
      <div class="col-12 padded-b md-padded-0">
        <div class="logo-img-footer md-float-center" id="logo"></div>
      </div>
      <div class="col-12 padded">
        <h3>Let's connect !</h3>
        <nav> 
          <a href="https://www.instagram.com/onememorypermile/" target=”_blank” class="social-icons"> <i class="social fab fa-instagram"></i> </a>
          <a href="https://www.facebook.com/profile.php?id=61557339363740" target=”_blank” class="social-icons"> <i class="social fab fa-facebook-f"></i> </a>
          <a href="https://www.pinterest.com/onememorypermile/" target=”_blank” class="social-icons"> <i class="social fab fa-pinterest-p"></i> </a>
      </nav>
      </div>
  </div>

  <div class="col-12 grid">
    <div class="col-6_xs-12 left subtle xs-center">
      <p>
        <a href="/datenschutz.html" class="subtle subtitle"> Datenschutz</a> | <a href="/impressum.html" class="subtle subtitle"> Impressum </a>
      </p>
    </div>
    <div class="col-6_xs-12-middle right xs-center">
      <a class="copyright" href="https://onememorydesign.com" target="_blank">© 2025 OnememoryDesign.</a>
    </div>
  </div>
</footer>

  