<footer class="grid padded-2 padded-b-1 bg-medium">
    <div class="col-7_sm-12 padded-2 sm-center">
      <h2> OneMemoryPerMile </h2>
      <h3> {% t global.footer-heading %} </h3>
      <p>  {% t global.footer-p-1 %} 
      <br><br>
      {% t global.footer-p-2 %} </p>
  </div> 
  <div class="col-5_sm-12 padded right sm-center">
      <img src="/images/favicon.png" alt="logo" class="logo-img-footer">
      <h3> Let's Connect. </h3>
      <nav> 
        <a href="https://www.instagram.com/onememorypermile/" target=”_blank” class="social-icons"> <i class="social fab fa-instagram"></i> </a>
        <a href="https://www.facebook.com/profile.php?id=61557339363740" target=”_blank” class="social-icons"> <i class="social fab fa-facebook-f"></i> </a>
        <a href="https://www.pinterest.com/onememorypermile/" target=”_blank” class="social-icons"> <i class="social fab fa-pinterest-p"></i> </a>
      </nav>
  </div>

  <div class="col-12 grid">
    <div class="col-6 left padded-l-2 subtle subtitle">
      <a href="/datenschutz.html"> Datenschutz</a> | <a href="#"> Impressum </a>
    </div>
    <div class="col-6 right padded-r-2 subtle subtitle">
      <p class="subtle subtitle"> © 2024 onememorydesign </p>
    </div>
  </div>
</footer>

  