
<header class="grid-middle text-dark padded-lr padded-1 sm-padded-tb-05">

  <!-------------- header LOGO-Picture and LOGO  -------------->
  <div class="col-6_md-10 grid">
    <!-- <div class="xs-hide inline">
      <img src="/images/favicon.png" alt="logo" class="logo-img">
    </div> -->
    <div class="col-middle inline">
      <a href="/" class="logo padded-05">onememorypermile</a>
    </div>
  </div> 

  <!--------------- navigation bar ---------------------------->
  <nav class="col-6 md-hide right">
    <a href="/"> Home </a>
    
    <!-- dropdown menu blog-categories -->
    <div class="dropdown">
      <a href="/blog" class="dropdown-title">Blog</a>
      <div class="dropdown-content">
        <a href="/archives/australien">Australien</a>
        <a href="/archives/asien">Asien</a>
        <a href="/archives/low-budget">Low Budget Reisen</a>
      </div> 
    </div>

    <!-- navigation links -->
    <a href="/reisetagebuch"> Reisetagebuch </a>
    <a href="/ueber-uns"> Über uns </a>
    <a href="/kontakt"> Kontakt </a>
  
  </nav> 

  <!-- hamburger menu button -->
  <div class="col-2 right md-show">
    <a class="hamburger-button"> &#9776; </a>
  </div>
</header>
  
  <div class="mobile-menu"> 
  
    <nav> 
      <a href="/"> Home </a>
      <a href="/blog"> Blog </a>
      <a href="/reisetagebuch"> Reisetagebuch </a>
      <a href="/ueber-uns"> Über uns </a>
      <a href="/kontakt"> Kontakt </a>
    </nav>
  </div>

