 <!------------------------ Social links Banner  ------------------------>
 <section class="bg-featured text-light padded center"> 

    <div class="capped-width-narrow md-padded">
        <h2> Folge uns auf Social-Media </h2>
        <nav> 
            <a href="https://www.instagram.com/onememorypermile/" target=”_blank”> <i class="social fab fa-instagram"></i> </a>
            <a href="https://www.facebook.com/profile.php?id=61557339363740" target=”_blank”> <i class="social fab fa-facebook-f"></i> </a>
            <a href="https://www.pinterest.com/onememorypermile/" target=”_blank”> <i class="social fab fa-pinterest-p"></i> </a>
        </nav>
    </div>

</section> 