<div class="social-share center margin-t">
    <hr class="short center"> 
    <h4 class="margin-b-05"> share the love</h4>
    <nav>
        <!-- whatsapp share button -->
        <a href="" target="_blank" onclick="this.href='https://wa.me/?text=Have a look at:' +location.href">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="https://www.facebook.com/dialog/share?href={{ site.url }}/{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="http://pinterest.com/pin/create/link/?url={{page.url}}&description={{page.title}}" rel="nofollow" target="_blank" title="Share on Pinterest">
            <i class="fa-brands fa-pinterest-p"></i>
        </a>
    </nav>
</div>
