<!DOCTYPE html>
<html lang="de">

<head>

    {% include head.html %}
    
</head>

<body>
    
    {% include site-header.html %}

    {{content}}

    {% include site-footer.html %}

    <!-- uncomment to use cookiebanner -->
    <!-- {% include cookie-banner.html%} -->

    <!-- Javascript  -->

    <!-- pinterest script -->
    <script type="text/javascript" data-pin-hover="true" async src="//assets.pinterest.com/js/pinit.js"></script>

    <!-- facebook erst versuchen ob benötigt-->
    <!-- <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script> -->

    <!-- JQuerry and my JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/main.js"></script>

</body>

</html>