---
layout: default
---
<!-- evtl overlay? -->
<!-- <section class="padded bg-light bg-image bg-overlay" style="background-image: url('{{page.featured_image}}');"> -->

<section class="padded bg-light">

    <div class="intro padded-1">

        {% for item in page.categories %}
            <span class="tag"> {{ item }}</span>
        {% endfor %}
        
        <h1> {{ page.title }} </h1>
        
        <div class="grid">
            <p class="col-6_sm-12 post-info"> von {{ page.author }} | {{ page.date | date_to_string }} </p>
            <p class="col-6_sm-12 post-info right sm-left">
                Dieser Post enthält 
                <span class="post-info" id="affiliate-link">Affiliate-Links</span>.
                <span class="popup-text">Das bedeutet, wenn du über einen dieser Links einen Kauf tätigst, bekommen wir einen kleinen Anteil. Das kostet dich nichts extra, hilft uns aber unsere Website zu erhalten.</span>
            </p>
        </div>
        
    </div>

</section>

<section class="grid padded capped-width-wide relative">

    <div class="col-9_md-8_sm-12">
        <div class="capped-width-posts blog-content">
       
            <div class="padded-1">

                {{content}}

            </div>
            
            {% include social-share.html %}

        </div>
    </div>

    <!------------------ SIDEBAR  --------------------------------->

        <aside class="padded-1 col-3_md-4_sm-12">
            <div class="SideBarParent">
                <div class="sticky">
                    <div class="sidebar-item padded-1">
                        <h4> Aktuelle Posts </h4>

                        <nav class="recent-posts-nav"> 
                            {% for post in site.posts limit:3 %}
                                <a href="{{post.url}}"> <i class="fa-regular fa-paper-plane"></i> {{post.title}}</a>
                            {% endfor %}
                        </nav>

                    </div>

                    <div class="sidebar-item padded-1">
                        <h4> Kategorien durchstöbern</h4>

                        <nav> 
                            {% for archive in site.archives limit:8 %}
                                <a href="{{archive.url}}"> <i class="fa-regular fa-bookmark"></i> {{archive.category}}</a>
                            {% endfor %}
                        </nav>

                    </div>
                </div>
            </div>
        </aside> 
        <!-- end sidebar-->
  
</section>

{% include related-posts.html %}