---
layout: default
---


<section class="padded capped-width-narrow blog-content">

        <div class="intro padded-1 center margin-b-2">
            {% assign categories = site.diary-archives | where_exp:"diary-archive", "diary-archive.category contains page.categories" %}
            {% for cat in categories %}
                <a href="{{ cat.url }}">{{ cat.category }}</a>
            {% endfor %}
            
            <h1> {{ page.title }} </h1>
            
            <p class="post-info"> von {{ page.author }} | {{ page.date | date_to_string }} </p>
         
        </div>

        <div class="padded-1">

            {{content}}

        </div>
        
        {% include social-share.html %}


</section>

{% include more-diaries.html %}
